body
{
    margin: 100px;
    background: black;
}

#hello-world
{
    font-weight: bold;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: pink;
}
